.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 10px;
    height: 160px;
    width: 355px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom right, #99d2d4, #ffffff);
   }
   .current-weather,
   .forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
   }
   .temperature {
    display: flex;
    align-items: center;
   }
   .temp {
    font-size: 36px;
    font-weight: bold;
   }
   .temp-icon {
    font-size: 24px;
    margin-left: 5px;
   }
   .details {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .day {
    display: flex;
    flex-direction: column;
    align-items: center;
   }