.modal {
  font-family: Nova Round, "Open Sans", "Helvetica Neue";
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
  display: none;
}
.notifications {
  margin-left: 65%;
  background-color: #071f2e;
  height: auto;
  width: 398px;
}
.notifications p {
  color: #2c3e50;
}
.notifications:hover {
  opacity: 1;
}
.notifications button {
  background-color: #798aaf;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
.notifications button:hover {
  opacity: 0.6;
}
/* The Close Button */
.close {
  position: absolute;
  margin-top: 20px;
  right: 30px;
  top: 0;
  color: #ff0000;
  font-size: 30px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: rgb(136, 74, 74);
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
