.weather-modal {
  background-color: rgb(196, 205, 255);
  font-family: Nova Round, "Open Sans", "Helvetica Neue";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 20;
  display: none;
  overflow: hidden;
}
.weather-overview {
  background: linear-gradient(315deg, #526fff, #012546);
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
}
.days-forecast {
  margin: 10px;
  height: 540px;
  padding: 0;
}
.days-forecast h2 {
  color: #012546;
}
.weather-cards {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.card {
  background: linear-gradient(315deg, #8794d8, #034279);
  border: 1px solid rgb(225, 250, 225);
  list-style-type: none;
  width: 290px;
  height: 440px;
  font-size: 21px;
  padding: 10px;
  color: #94c0fd;
  border-radius: 10px;
  transition: 0.9s;
  overflow: hidden;
}
.card h6 {
  font-size: 20px;
  line-height: 0;
  margin-top: 10px;
}
.card:hover {
  margin: 10px;
}
.close-modal {
  display: flex;
  justify-content: end;
  margin-top: -40px;
  cursor: pointer;
}
.close-modal:hover {
  opacity: 0.5;
}
.mutare {
  display: flex;
  justify-content: end;
  margin-top: -30px;
  margin-right: 20px;
}
.weather-input {
  display: none;
}